
/* navigation  */

.logo {
    width: 100px;
    object-fit: contain;
    transform: scale(.9);
}

nav {
    box-shadow: 0 0 25px #33333318;
    width: 100%;
    height: 15vh;
    padding: 0 2rem;
}

nav.active {
    background: #ffffff;
    transform: scale(.9);
}

nav.active .nav-item {
    color: #111;

}

nav.active .menu {
    transform: scale(1.3);
}

nav .left {
    gap: 2rem;
}

.nav {
    gap: 3rem;
}

.nav-item:hover {
    color: #ffd334;
    cursor: pointer;
}


button {
    border: 2px solid transparent;
    background: #773aa9ca;
    color: #ffffff;
    padding: .75rem 1rem;

}

button span {
    padding: 0 .5rem;
}

button:hover {
    background: #070707ab;
    color: #ffd334;
    cursor: pointer;
    border-color: #ffffff;
}

nav button:hover i {
    color: #ff3131;
}

button {
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 100%;
}

.menu-btn {
    --size: 50px;
    height: var(--size);
    width: var(--size);
    background: #0e0e0e;

    font-size: 150%;
}

.menu-btn i {
    transform: scaleX(1.5);
}

/* mobile menu  */

.menu {
    background: #000000e2;
    display: none;
    --top: 15vh;
}

.menu.active {
    display: flex;
}

.menu .top {
    height: var(--top);
    font-size: 200%;
}

.menu-item {
    font-size: 150%;
    text-transform: uppercase;
    margin: 1rem 0; 
}

.menu-item:hover {
    color: #ffd334;
}

@media only screen and (max-width: 970px) {
    .desktop{display: none}

    .mobile-btn {
        display: flex;
    }
}

@media only screen and (max-width: 415px) {
    nav button {
        display: none !important;
    }
}